<a href="https://colab.research.google.com/github/snall6/Exploratory-Data-Analysis/blob/main/Final_Project_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

### üî® Import packages and dataset

‚ñ∂Ô∏è Run the code cell below to import packages used in the case.

In [2]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import plotly.graph_objects as go

# plotly.io is a low-level interface for interacting with figures/
# plotly.io.templates lists available plotly templates
# https://plotly.com/python-api-reference/plotly.io.html
import plotly.io as pio

pd.set_option('display.max_columns', 50)

#### üß≠ Check Plotly Version

Run the code below to ensure that your notebook uses the same Plotly version as the autograder.

In [3]:
# DO NOT CHANGE THE CODE IN THIS CELL
print(f'The current plotly version is {plotly.__version__}')

The current plotly version is 5.5.0

‚ñ∂Ô∏è Run the code below to import and process the trips dataset.

In [4]:
df = pd.read_csv('https://github.com/snall6/Exploratory-Data-Analysis/raw/main/ds_salaries.csv')

# Create a copy for üß≠ Check Your Work section
df_backup = df.copy()

#Part 1: Data Description

##Why I Picked the Dataset

I picked this dataset because I thought the content would be interesting to analyze. Since it's about jobs involving data, which is what this class prepares us for, I thought it would be interesting to learn more about it. I'm also interested in a career involving data, so learning about the options through a fairly recent data set about jobs and their considerations was also cool. 

##Questions to Answer
A few questions about this dataset that can be answered from analyzing it include:
1. What is the highest paying job? 
2. What country offers the highest paying job? 
3. Which experience level has the most jobs? 
4. Is there any correlation between remote requirements vs salary?
5. What entry level position pays the most?

---

---

## üìê Part 2: Data Overview

---

### üéØ Deliverable 1: Rows & Columns

#### üëá Tasks

- ‚úîÔ∏è Display the size of `df` using `.shape`.

In [46]:
# YOUR CODE BEGINS
num_rows = df.shape[0]
num_cols = df.shape[1]
print("Rows: ", num_rows, " \nCols: ", num_cols)
# YOUR CODE ENDS

Rows:  607
Cols:  12

---

### üéØ Deliverable 2: Summary of DataFrame

#### üëá Tasks

- ‚úîÔ∏è Print a concise summary of `df` using `.info()`.

In [47]:
# YOUR CODE BEGINS
df.rename(columns={ df.columns[0]: "index" }, inplace = True)
df.info()
# YOUR CODE ENDS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

---

### üéØ Deliverable 3: Browse Through Dataframe

#### üëá Tasks

- ‚úîÔ∏è Browse through `df` using `.head(n)`, `.tail(n)`, and `.sample(n)`.

In [48]:
# YOUR CODE BEGINS
df.head(5)
# YOUR CODE ENDS

,index,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [49]:
# YOUR CODE BEGINS
df.tail(5)
# YOUR CODE ENDS

,index,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [50]:
# YOUR CODE BEGINS
df.sample(7)
# YOUR CODE ENDS

,index,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
597,597,2022,SE,FT,Data Analyst,170000,USD,170000,US,100,US,M
227,227,2021,MI,FT,Data Scientist,75000,EUR,88654,DE,50,DE,L
272,272,2021,EN,FT,Data Science Consultant,65000,EUR,76833,DE,0,DE,L
557,557,2022,SE,FT,Data Engineer,70500,USD,70500,US,0,US,M
330,330,2022,SE,FT,Data Analyst,112900,USD,112900,US,100,US,M
338,338,2022,SE,FT,Data Analyst,136600,USD,136600,US,100,US,M
345,345,2022,SE,FT,Data Engineer,156600,USD,156600,US,100,US,M

---

## üò∑ Part 3: Analyze Information

---

### üéØ Deliverable 4: Total number of data scientists, data analysts, and entry level positions

#### üëá Tasks

- ‚úîÔ∏èCreate new dataframes for the three values above and find their sizes

In [10]:
# YOUR CODE BEGINS
df_data_scientists = df[df['job_title'] == 'Data Scientist']
df_data_analysts = df[df['job_title'] == 'Data Analyst']
df_entry_level = df[df['experience_level'] == 'EN']
num_data_analysts = df_data_analysts.shape[0]
num_data_scientsts = df_data_scientists.shape[0]
num_entry_level = df_entry_level.shape[0]
print("Num Data Scientists: ", num_data_scientsts)
print("Num Data Analyists: ", num_data_analysts)
print("Num Entry Level Jobs: ", num_entry_level)
# YOUR CODE ENDS

Num Data Scientists:  143
Num Data Analyists:  97
Num Entry Level Jobs:  88

---

### üéØ Deliverable 5: Highest Paying Entry Level & Data Scientist Jobs
#### üëá Tasks

- ‚úîÔ∏è Using `df`, find the highest paying entry level jobs.

In [11]:
# YOUR CODE BEGINS
df_entry_level_by_salary = df_entry_level.sort_values(by=["salary_in_usd"], ascending=False,inplace=False)
df_data_scientists_by_remote_ratio_salary = df_data_scientists.sort_values(by=["salary_in_usd", "remote_ratio"], ascending=False,inplace=False)

# YOUR CODE ENDS
display(df_entry_level_by_salary.head(5))
display(df_data_scientists_by_remote_ratio_salary.head(5))

,index,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
37,37,2020,EN,FT,Machine Learning Engineer,250000,USD,250000,US,50,US,L
115,115,2021,EN,FT,Machine Learning Scientist,225000,USD,225000,US,100,US,L
510,510,2022,EN,FT,Computer Vision Software Engineer,150000,USD,150000,AU,100,AU,S
39,39,2020,EN,FT,Machine Learning Engineer,138000,USD,138000,US,100,US,S
159,159,2021,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S

,index,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
63,63,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
416,416,2022,SE,FT,Data Scientist,260000,USD,260000,US,100,US,M
486,486,2022,SE,FT,Data Scientist,230000,USD,230000,US,100,US,M
592,592,2022,SE,FT,Data Scientist,230000,USD,230000,US,100,US,M
472,472,2022,SE,FT,Data Scientist,220000,USD,220000,US,100,US,M

---

### üéØ Deliverable 6: Average Salary by Position

#### üëá Tasks

- ‚úîÔ∏è Using `df`, calculate the average salary of all jobs by title and experience level

In [12]:
# YOUR CODE BEGINS
df_salary = df.groupby(['job_title', 'experience_level'], as_index=False).agg({
    'salary_in_usd':'mean'
}).rename(columns={"salary_in_usd":"avg_salary"})
df_salary.sort_values(by=["avg_salary", "experience_level"], ascending=False, inplace=True)

# YOUR CODE ENDS
display(df_salary.head(10))
display(df_salary.tail(10))

                     job_title experience_level     avg_salary
95     Principal Data Engineer               EX  600000.000000
61      Financial Data Analyst               MI  450000.000000
97    Principal Data Scientist               EX  416000.000000
33         Data Analytics Lead               SE  405000.000000
8       Applied Data Scientist               SE  278500.000000
78                 ML Engineer               SE  256000.000000
38               Data Engineer               EX  245500.000000
62                Head of Data               EX  232500.000000
88  Machine Learning Scientist               EN  225000.000000
90  Machine Learning Scientist               SE  201666.666667

                              job_title experience_level    avg_salary
16                    Big Data Engineer               MI  33537.000000
63                         Head of Data               MI  32974.000000
11                      BI Data Analyst               EN  32136.000000
9    Applied Machine Learning Scientist               EN  31875.000000
15                    Big Data Engineer               EN  30703.333333
1                          AI Scientist               EN  21987.250000
30              Data Analytics Engineer               EN  20000.000000
76                          ML Engineer               EN  18974.500000
100                Product Data Analyst               MI  13036.000000
0         3D Computer Vision Researcher               MI   5409.000000

---

### üéØ Deliverable 7: Average Salary by Location and Experience Level

#### üëá Tasks

- ‚úîÔ∏è Using `df`, calculate the average salary of jobs by location of employee residence and experience level

In [51]:
# YOUR CODE BEGINS
df_location_experience = df.groupby(['employee_residence', "experience_level"], as_index=False).agg({
    'salary_in_usd':'mean'
}).rename(columns={"salary_in_usd":"avg_salary"})
df_location_experience.sort_values(by=["avg_salary"], ascending=False, inplace=True)

# YOUR CODE ENDS
display(df_location_experience.head(10))
display(df_location_experience.tail(10))

   employee_residence experience_level     avg_salary
97                 US               EX  249991.666667
60                 JP               SE  214000.000000
67                 MY               SE  200000.000000
79                 PR               SE  160000.000000
15                 CA               EX  157583.000000
86                 RU               EX  157500.000000
99                 US               SE  153921.810427
55                 IT               EX  153667.000000
24                 DE               EX  135936.000000
98                 US               MI  135617.792208

    employee_residence experience_level  avg_salary
95                  UA               EN     13400.0
12                  BR               MI     12901.0
11                  BR               EN     12000.0
30                  ES               EN     10354.0
76                  PK               MI     10000.0
68                  NG               EN     10000.0
61                  KE               EN      9272.0
53                  IR               MI      4000.0
100                 VN               EN      4000.0
65                  MX               MI      2859.0

---

## üíµ Part 4: Visualize Data

---

### üéØ Deliverable 8: USD Salary Box Plot for Entry Level Positions (horizontal)

#### üëá Tasks

- ‚úîÔ∏è Draw a horizontal box plot of `salary_in_usd` for entry levle positions.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Add an appropriate title to your figure.
    - A title should describe your plot (e.g., Salary Box Plot).
- ‚úîÔ∏è Display the figure using `fig.show()`

In [14]:
# YOUR CODE BEGINS
fig = px.box(x=df_entry_level['salary_in_usd'], orientation='h', title='Horizontal Box Plot of Salary in USD')
fig.show()
# YOUR CODE ENDS

---

### üéØ Deliverable 9: Average Salary By Position

#### üëá Tasks

- ‚úîÔ∏è Draw a histogram (vertical) of `avg_salary` in `df_salary`.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Add an appropriate title to your figure.
- ‚úîÔ∏è Display the figure using `fig.show()`

In [15]:
# YOUR CODE BEGINS
fig = px.histogram(df_salary, title='Distribution of average salary by position', x='avg_salary')
fig.show()
# YOUR CODE ENDS

---

### üéØ Deliverable 10: Entry Level Salaries by Position (bar chart)

#### üëá Tasks

- ‚úîÔ∏è Using `df_salary`, create a horizontal bar chart displaying the salary by position for entry level positions.
- ‚úîÔ∏è Set an appropriate title.
- ‚úîÔ∏è Set the height to `800` and do not supply a width (by default, a Plotly figure will expand to fit the window if the `width` parameter is omitted).
- ‚úîÔ∏è Use the `plotly_white` template.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Display the figure using `fig.show()`

In [16]:
# YOUR CODE BEGINS
df_salary_entry_level = df_salary[df_salary['experience_level'] == 'EN']

fig = px.bar(
    df_salary_entry_level,
    title='Salary by Position',
    x='avg_salary',
    y='job_title',
    color='avg_salary',
    color_continuous_scale='emrld',
    text='avg_salary',
    template='plotly_white',
    height=800
)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_yaxes(categoryorder='total ascending')
fig.show()
# YOUR CODE ENDS

---

### üéØ Deliverable 11: Salary Heatmap

#### üëá Tasks

- ‚úîÔ∏è Draw a heatmap of `avg_salary` in `df_salary`.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Add an appropriate title to your figure.
- ‚úîÔ∏è Display the figure using `fig.show()`

In [30]:
# YOUR CODE BEGINS
fig = px.density_heatmap(df_salary, x='avg_salary', y = 'experience_level', text_auto='avg_salary')
fig.show()
# YOUR CODE ENDS

---

### üéØ Deliverable 12: Salary + Experience Level breakdown (sunburst)

#### üëá Tasks

- ‚úîÔ∏è Using `df_salary`, create a sunburst chart describing the breakdown of position and experience level.
- ‚úîÔ∏è Set an appropriate title.
- ‚úîÔ∏è Set both the width and height to `800`.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Display the figure using `fig.show()`

In [36]:
# YOUR CODE BEGINS
fig = px.sunburst(
    df_salary,
    path=['experience_level', 'job_title'],
    values='avg_salary',
    title='Salary by Position Breakdown',
    width=800,
    height=800
)
fig.show()
# YOUR CODE ENDS

---

### üéØ Deliverable 13: Pickup area breakdown (treemap)

#### üëá Tasks

- ‚úîÔ∏è Using `df_by_pickup_area`, create a treemap of pickup areas.
- ‚úîÔ∏è Set an appropriate title.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Display the figure using `fig.show()`

In [45]:
# YOUR CODE BEGINS
fig = px.treemap(df_entry_level, 
                 path=['job_title'], 
                 values='salary_in_usd', 
                 title='Entry Level Positions Breakdown')
fig.show()
# YOUR CODE ENDS

---

### üéØ Deliverable 14: Pickup area breakdown (pie chart)

#### üëá Tasks

- ‚úîÔ∏è Using `df_by_pickup_area`, create a pie chart of pickup areas.
- ‚úîÔ∏è Set an appropriate title.
- ‚úîÔ∏è Store your figure to a variable named `fig`.
- ‚úîÔ∏è Display the figure using `fig.show()`

In [37]:
# YOUR CODE BEGINS
fig = px.pie(df_entry_level, 
             values='salary_in_usd', 
             names='job_title', 
             title='Salary of Entry Level Positions')
fig.show()
# YOUR CODE ENDS

#Part 5: Conclusions

Through analyzing this dataset, I have found some information about the highest paying jobs, locations, and remote/in-office ratios. Some of the most important observations I noticed are listed below: 

  1. The highest paying entry level job is ML Engineer, which pays \$250,000 and has a remote ratio of 50\% and is located in the US. 
  2. The highest paying data scientist role is a fully remote senior level role that earns \$412,000 in the US. 
  3. The highest paying job on average, is Principal Data Engineer, which earns \$600,000, based on its occurrences in the dataset. 
  4. The highest paying entry level job on average is ML Scientist. 
  5. In the United States, experts get paid the most on average. In Mexico, the lowest paying experience level is a mid-level engineer. 
  6. All of the top 5 highest paying data scientist job are all fully remote. 


These were just a few of the conclusions I was able to notice while analyzing this dataset. More specificity can definitely be looked into while analzying larger samples or more columns in this dataset.